body {
  background-image: url("background.jpg");
}
.cardStyle{
background: #ffffffa0;
display: flex;
max-width: 340px;
min-width: 260px;
}
.cardStyle:hover {
  background: #ffffff;
}
.List{
  display: flex;
  flex-wrap: wrap;
}
.btn{
  width: 80px;
}
.btn:hover{
  /* width: 120px; */
  box-shadow: 3px 3px 3px 3px grey;
}
.btn2{
  font-size: larger;
  width: 120px;
}
.add{
  min-width: 100px;
  max-width: 25%;
}
.add2{
  min-width: 150px;
  max-width: 50%;
}
.submit{
  min-width: 100px;
  max-width: 150px;
}